<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsiEsiPmVZH6VhhGIx__p0AnuzZsyvGg8</string>
	<key>GCM_SENDER_ID</key>
	<string>58443286682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sermanos.iosapp</string>
	<key>PROJECT_ID</key>
	<string>ser-manos-62724</string>
	<key>STORAGE_BUCKET</key>
	<string>ser-manos-62724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58443286682:ios:c155329cc27572ec1bf723</string>
</dict>
</plist>